
.logo {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-right: 87px;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 92px;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logo__main {
    display: inline-block;
    font-family: $title-font;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $accent-color;
}

.logo__accent {
    color: $secondary-text-color;
}

.logo__bottom {
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
       padding: 0 auto;
    }
}

.logo__accent--bottom {
    color: $accent-text-color;
}