.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: $backdrop-trans;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    max-height: 90hv;
    overflow-y: scroll;
    background: $accent-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: $backdrop-trans;

    @media screen and (min-width: 1200px){
        width: 528px;
        height: 581px;
    }


}

.modal__close-btn {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
    fill: $accent-color;
    }
}

.modal__close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: $accent-text-color;
}

.callback {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.callback__call-to-action {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $header-button-text-color;

    @media screen and (min-width: 1200px) {
        
        line-height: 1.15;
    }

}

.callback__form-wrapper {
    display: flex;
    flex-direction: column;
}

.callback__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.callback__name-label {
    display: flex;
    line-height: 1.16;
    box-sizing: border-box;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $main-text-color;
    
}

.callback__input-icons {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: $header-button-text-color;
}

.callback__input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: $reg-trans;

    &:focus {
            border: 1px solid $accent-color;
        }
    &:focus+.cta-icons {
            fill: $accent-color;
        }
}

.callback__text-area {
    display: flex;
    min-height: 120px;
    padding: 16px;
    resize: none;
    width: 100%;
}

.callback__check-line {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $main-text-color;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
        }
}

.checkbox__icon-wrapper {
    display: flex;
    align-self: center;
    margin-right: 7px;
    border: 2px solid $header-button-text-color;
    border-radius: 4px;
}

.checkbox__checked-icon {
    fill: $accent-text-color;
    background-color: transparent;
    transition: $reg-trans;
}

.checkbox:checked .checkbox__checked-icon {
    background: $accent-color;
}

.checkbox input:checked+.checkbox__icon-wrapper {
    fill: $accent-text-color;
    background-color: $accent-color;
    border-color: transparent;
    transition: $reg-trans;
}

.callback__agreement-link {
    color: $accent-color;
}

.callback__submit-btn {
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    min-width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: $accent-text-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 10px 52px;

    &:active,
    &:focus,
    &:hover{
        background-color: $order-button-bg-color;
    }
}

