// Team social links

.social {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 16px;
}

.social__item {
    width: 44px;
    height: 44px;
}

.social__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $social-link-color;
    transition-property: color, fill;

    &:active,
    &:focus,
    &:hover {
        background-color: $accent-color;
        color: $accent-text-color;
    }
}

.social__icon {
    fill: currentColor;
}


// Footer social links

.footer-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.footer-social__item {
    width: 44px;
    height: 44px;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: $footer-icons-bg-color;
    transition: $reg-trans;

    &:active,
    &:focus,
    &:hover {
        background-color: $accent-color;
    }
}

.footer-social__icon {
    fill: $accent-text-color;
}

.footer-social {
    margin-left: 70px;

    @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-top: 60px;
            margin-bottom: 20px;
    
        }
}

.footer-social__header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $accent-text-color;
  
}