.link {
    text-decoration: none;
    color: $header-button-text-color;
    transition: $reg-trans;

&:hover,
&:focus,
&:active {
    transition-property: color;
    color: $accent-color;
        }
    }

