$main-bg-color:#f5f5f5;
$secondary-bg-color:#f5f4fa;
$accent-bg-color:#2f303a;
$main-text-color:#757575;
$accent-text-color:#ffffff;
$secondary-text-color:#000000;
$accent-color:#2196f3;
$order-button-bg-color:#188ce8;
$header-button-text-color:#212121;
$footer-link-color:#ffffff99;
$border-color:#eeeeee;
$header-border-color:#ececec;
$hero-bg-color:rgba(47, 48, 58, 0.4);
$activity-bg-color:rgba(47, 48, 58, 0.8);
$footer-icons-bg-color:rgba(255, 255, 255, 0.1);
$social-link-color:#afb1b8;
$overlay-bg-color:rgba(33, 150, 243, 0.9);


$mobile-menu-devider: 1px solid rgba(33, 33, 33, 0.2);
$hero-bg-gradient: linear-gradient(to right, $hero-bg-color, $hero-bg-color);

$main-font: "Roboto", sans-serif;
$title-font: "Raleway", sans-serif;

$reg-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-trans: background-color 250ms linear, transform 250ms ease-in-out 250ms;