.activity.section {
    padding-top: 0px;

    @media screen and (max-width: 1199px) {
    display: none;
    }
}

.activity__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.activity__item {
    position: relative;
}

.activity__description {
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    height: 70px;
    width: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $accent-text-color;
    background-color: $activity-bg-color;
    opacity: 1;
}
