.features {
    display: flex;
    gap: 30px;
}

.feature__name {
    list-style: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 10px;
}

.features__icon-background {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $secondary-bg-color;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.feature__description {
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $main-text-color;
}

// .feature__icon {

// }